body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.spaceRocketContent{
  margin-right: 0px!important;
  margin-left: 0px!important;
}

.filterDivYears h5{
  text-decoration: underline;
}

.App{
  background-color: grey;
}

.spaceCards{
  margin:5px;
}
